@model IEnumerable<FakturiFirst.Client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}

<h2>Моите клиенти</h2>


<p align="right">
    <button class="btn btn-outline-success btn-lg" type="button">@Html.ActionLink("Нов клиент", "Create")</button>
</p>


<table class="table" align="center">
    <tr>
        <th>
            Име на клиент
        </th>
        <th>
            Email
        </th>        
        <th>
            Адреса
        </th>
        <th>
            Град
        </th>
        <th>
            Држава
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_State)
        </td>        
        <td>
            @Html.ActionLink("Промени", "Edit", new { id=item.Client_ID }) |
            @Html.ActionLink("Повеќе", "Details", new { id=item.Client_ID }) |
            @Html.ActionLink("Избриши", "Delete", new { id=item.Client_ID })
        </td>
    </tr>
}

</table>
