@model IEnumerable<FakturiFirst.Faktura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}

<h2>Моите фактури</h2>


<table class="table" align="center">
    <tr>
        <th>
            Број на фактура
        </th>
        <th>
            Клиент
        </th>
        <th>
            Датум на издавање
        </th>
        <th>
            Датум на доспевање
        </th>
        <th>
            Статус
        </th>
        <th>
            Сума
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           #@Html.DisplayFor(modelItem => item.Faktura_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Client_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faktura_DatumIzdavanje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faktura_DatumDospevanje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faktura_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faktura_Suma)
        </td>        
        <td>
            @Html.ActionLink("Промени", "Edit", new { id=item.Faktura_ID }) |
            @Html.ActionLink("Повеќе", "Details", new { id=item.Faktura_ID }) |
            @Html.ActionLink("Избриши", "Delete", new { id=item.Faktura_ID })
        </td>
    </tr>
}

</table>
